%h1#administration= t('admins.administration')

.row.admin-search
  .input-group
    .input-group-btn
      %button.btn.btn-default.search-btn{ :type => 'button'}
        %span= t('search.button')

      %button.btn.btn-default.dropdown-toggle.search-type{ 'data-toggle' => 'dropdown', :type => 'button' }
        %span.text= t('admins.articles.articles')
        %span.caret

      %ul.dropdown-menu.search-type-dropdown
        %li{ data: { type: 'article', text: t('admins.articles.articles') } }
          %a= t('admins.articles.articles')
        %li{ data: { type: 'user', text: t('admins.users.users') } }
          %a= t('admins.users.users')
    %input.admin-search-input.form-control{ placeholder: t('search.placehodler') }

.admin-search-result
  %h3
    = t('search.result')
    %span.pull-right.close-search &times;
  .content

%h3= t('admins.users.users')
= render 'users'

.control-group
  .controls
    %button.btn.btn-default.prev-users
      = '&laquo;'.html_safe

    %button.btn.btn-default.next-users
      = '&raquo;'.html_safe

%h3= t('admins.articles.articles')
= render 'articles'

.control-group
  .controls
    %button.btn.btn-default.prev-articles
      = '&laquo;'.html_safe

    %button.btn.btn-default.next-articles
      = '&raquo;'.html_safe

.modal.fade
  .modal-dialog
    .modal-content

%div.center
  .admin-error.alert.alert-danger
    %strong= t('error')
    .admin-error-content

  .admin-success.alert.alert-success
    %strong= t('success')
    .admin-success-content

  .admin-warning.alert.alert-warning
    %strong= t('warning')
    .admin-warning-content

%template#edit-user-template
  .modal-header
    %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} &times;
    %h4.modal-title= t('admins.users.editUser')
  .modal-body
    %p
      %label.control-label
        = t('admins.users.id')
        %input.input.form-control.id{ disabled: true }

    %p
      %label.control-label
        = t('admins.users.name')
        %input.input.form-control.name

    %p
      %label.control-label
        = t('admins.users.email')
        %input.input.form-control.email

    %p
      %label.control-label
        = t('admins.users.role')
        %select.input.form-control.role
          %option{value: 1} Registered
          %option{value: 2} Banned
          %option{value: 3} Moderator
          %option{value: 4} Admin

  .modal-footer
    %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Закрыть
    %button.btn.btn-primary.btn-modal-save{:type => 'button'} Сохранить изменения
