= form_for @user, url: { action: 'update_password' }, method: :patch do |f|
  %p
    = f.label :password
    %br
      = f.password_field :password, :autocomplete => "off"
  %p
    = f.label :password_confirmation
    %br
      = f.password_field :password_confirmation

  %p
    = f.submit

= link_to 'Back', user_path