!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    = render 'layouts/header'

    %main.container.application-content
      .col-md-10.col-xs-15
        = yield

      .col-md-2.col-xs-3
        = render 'layouts/navigation'

    - if @pagination
      %section.container
        = paginate @pagination